html {
    background-color: darkslategray;
}

body {
    margin-right: 5%;
    margin-left: 5%;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: indigo;
    color: white;
    text-align: center;
}

footer {
    background-color: indigo;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer ul a {
    color: white;
}

footer ul {
    align-items: center;
    display: flex;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections article {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-between;
}

.sections article time+h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: lighter;
    color: slategrey
}

.sections article time {
    font-weight: bold;
    margin-top: 2%;
    font-size: 20px;
    text-align: right;
    margin-right: 40px;
    color: dimgray;

}

.sections article p {
    color: gray;
}

.sections {
    margin-left: 10%;
    margin-right: 5%;
}

.section2 h2 {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-right: 40px;
    padding: 0px;
    color: dimgray;
}

.section2 p {
    font-size: 18px;
    color: dimgray;
}


.sections h1 {
    margin-left: 16%;
    font-size: 30px;
    font-weight: bold
}

#projet {
    margin-left: 15%;
    color: dimgray;
    font-size: 18px;
}

.header h1 {
    font-size: xx-large;
}

.header h2 {
    font-size: 15px;
    padding-bottom: 6px;

}

.header img {
    width: 100px;
    height: 90px;
    float: right;
    margin-left: 0px;


}

.header div {
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
}

.header ul {
    border-top: 1px solid white;
    margin-top: 0px;
    padding-top: 10px;
    width: auto;
    padding-left: 0px;
    margin-left: 0px;
}


ul {
    list-style: none;
}