html {
    background-color: black;
}

body {
    margin-right: 5%;
    margin-left: 5%;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: indigo;
    color: white;
    text-align: center;
}

footer {
    background-color: indigo;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer ul a {
    color: white;
}

footer ul {
    align-items: center;
    display: flex;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections article {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-between;
}

.sections article h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    font-size: 20px;
}

.sections article time {
    font-weight: bold;
    margin-top: 2%;
    font-size: 20px;
    text-align: right;
    margin-right: 40px;

}

.sections {
    margin-left: 10%;
    margin-right: 5%;
}

.section2 h2 {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-right: 40px;
    padding: 0px;
}

.section2 p {
    margin-top: 0;
    font-size: 15px;
}


.sections h1 {
    margin-left: 16%;
    font-size: 30px;
    font-weight: bold
}

ul {
    list-style: none;
}